{% load humanize %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TMF Portfolio Management Tool (Django and jQuery/Ajax)</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
    >
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
</head>


<body class="container-fluid">
    <h1>TMF Portfolio Management Tool</h1>
    <h2 class="subtitle text-success">(Django and jQuery/Ajax)</h2>
    {% for portfolio in portfolios %}
    <h3>{{ portfolio.name }} (@{{ portfolio.slug }})</h3>
    <div class="container">
        <table id="portfolio-dashboard" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Exchange</th>
                    <th scope="col">Active</th>
                    <th scope="col">Price</th>
                    <th scope="col">Controls</th>
                </tr>
            </thead>
            <tbody id="tbody-{{ portfolio.slug }}">
                {% for stock in portfolio.stocks.all %}
                <tr id="entry-{{ portfolio.slug }}-{{ stock.symbol }}">
                    <td scope="row">{{ stock.name }} ({{ stock.symbol }})</td>
                    <td scope="row">{{ stock.exchange }}</td>
                    <td scope="row">{{ stock.active }}</td>
                    <td scope="row">${{ stock.price | intcomma }}</td>
                    <td scope="row">
                        <form id="remove-{{ portfolio.slug }}-{{ stock.symbol }}"
                              action="/stocks/remove_stock_from_portfolio/"
                              method="post"
                        >
                            <input type="hidden" name="portfolio" value="{{ portfolio.slug }}">
                            <input type="hidden" name="stock" value="{{ stock.symbol }}">
                            <input id="remove-{{ portfolio.slug }}-{{ stock.symbol }}-submit"
                                   type="submit"
                                   class="btn btn-outline-danger"
                                   value="Remove"
                            >
                        </form>
                        <script>
                            var removeStockSubmitButton = $('#remove-{{ portfolio.slug }}-{{ stock.symbol }}');
                            $(removeStockSubmitButton).on('click', function(e) {
                                e.preventDefault();
                                $.ajax('/stocks/remove_stock_from_portfolio/', {
                                    method: 'POST',
                                    data: {portfolio: '{{ portfolio.slug }}', stock: '{{ stock.symbol }}'},
                                })
                                .done(function(data) {
                                    // Manipulate DOM to remove element -- can potentially be painful...
                                    $('#entry-{{ portfolio.slug }}-{{ stock.symbol }}').fadeOut();
                                })
                                .fail(function(error) {
                                    console.warn(error);
                                });
                            });
                        </script>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    {% endfor %}

    <form id="add-{{ portfolio.slug }}"
          class="row add-form"
          action="/stocks/add_stock_to_portfolio/"
          method="post"
    >
      <div class="col-sm">
          <h6 class="float-right" style="margin-top: 10px;">Add a Stock:</h6>
      </div>
      <input type="hidden" name="portfolio" value="{{ portfolio.slug }}">
      <select id="add-choose-portfolio" class="custom-select col-sm">
          <option disabled selected>Choose a portfolio</option>
          {% for portfolio in portfolios %}
          <option value="{{ portfolio.slug }}">{{ portfolio.name }} ({{ portfolio.slug }})</option>
          {% endfor %}
      </select>
      <select id="add-choose-stock" class="custom-select col-sm">
          <option disabled selected>Choose a stock</option>
          {% for stock in stocks %}
          <option value="{{ stock.symbol }}">{{ stock.name }} ({{ stock.symbol }})</option>
          {% endfor %}
      </select>
      <div class="col-sm">
          <input id="add-submit" type="submit" class="btn btn-outline-info" value="Add">
      </div>
    </form>
    <script>
      var addStockSubmitButton = $('#add-submit');
      $(addStockSubmitButton).on('click', function(e) {
          e.preventDefault();
          var selectedPortfolio = $('#add-choose-portfolio').val();
          var selectedStock = $('#add-choose-stock').val();
          $.ajax('/stocks/add_stock_to_portfolio/', {
              method: 'POST',
              data: {portfolio: selectedPortfolio, stock: selectedStock},
          })
          .done(function(data) {
              // Manipulate DOM to create new <tr> and <td> nodes, then append to table -- painful!
              var newStockName = $('<td></td>').text(data.name + ' (' + data.symbol + ')');
              var newStockExchange = $('<td></td>').text(data.exchange);
              var newStockActive = $('<td></td>').text(String(data.active).slice(0, 1).toUpperCase() + String(data.active).slice(1));
              var newStockPrice = $('<td></td>').text('$' + data.price);
              var newStockSubmitButton = $('<input '
                                           + 'id="remove-'
                                                  + selectedPortfolio
                                                  + '-'
                                                  + data.symbol
                                                  + '-submit" type="submit" '
                                           + 'class="btn btn-outline-danger" '
                                           + 'value="Remove" '
                                           + 'style="margin: 10px;">');
              newStockSubmitButton.on('click', function(e) {
                  e.preventDefault();
                  $.ajax('/stocks/remove_stock_from_portfolio/', {
                      method: 'POST',
                      data: {portfolio: selectedPortfolio, stock: data.symbol},
                  })
                  .done(function(innerData) {
                      $('#entry-' + selectedPortfolio + '-' + data.symbol).fadeOut();
                  })
                  .fail(function(innerError) {
                      console.warn(innerError);
                  });
              });
              var newStock = $('<tr id="entry-'+ selectedPortfolio + '-' + data.symbol + '"></tr>');
              newStock.append(newStockName, newStockExchange, newStockActive, newStockPrice, newStockSubmitButton);
              var tableBody = $('#tbody-' + selectedPortfolio);
              tableBody.append(newStock);
          })
          .fail(function(error) {
              console.warn(error);
          });
      });
    </script>

    <style>
        .subtitle {
            margin-bottom: 2rem;
        }
        .add-form {
            margin: 0px;
            padding: 1rem;
            border: 1px solid black;
            background-color: whitesmoke;
        }
    </style>

</body>

</html>
